.container {
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("/images/background_startpage.jpg");
  background-size: cover;
  background-position: center;

  .overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
      180deg,
      #000000 -19.89%,
      rgba(0, 0, 0, 0.55) 40.46%,
      #000000 100%
    );

    width: 100%;
    height: 100%;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1440px;
      height: 108px;
      padding-top: 10px;
      padding-right: 96px;
      padding-bottom: 10px;
      padding-left: 96px;

      img {
        width: 200.66px;
        height: 32px;
        z-index: 1;
        cursor: pointer;
      }

      button {
        width: 99px;
        height: 48px;
        padding-top: 12px;
        padding-right: 24px;
        padding-bottom: 12px;
        padding-left: 24px;
        gap: 10px;
        border-radius: 40px;
        background: #2e3edf;
        color: #fff;
        border: none;
        font-size: 18px;
        cursor: pointer;
      }
    }

    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
      width: 100%;
      max-width: 1440px;

      .headline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;

        h1 {
          color: #fff;
          font-weight: 700;
          font-size: 48px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
        }

        p {
          color: #fff;
          font-weight: 400;
          font-size: 18px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
        }
      }

      .sign-up {
        display: flex;
        gap: 16px;

        input {
          width: 360px;
          height: 48px;
          gap: 10px;
          border-radius: 40px;
          padding-top: 12px;
          padding-right: 24px;
          padding-bottom: 12px;
          padding-left: 24px;
          border: 1.5px solid #ffffff;
          background: #1c1a20cc;
          color: #ffffff;
          font-size: 18px;

          &::placeholder {
            color: #ffffff;
          }
        }

        button {
          width: 142px;
          height: 48px;
          gap: 4px;
          border-radius: 40px;
          padding-top: 12px;
          padding-right: 24px;
          padding-bottom: 12px;
          padding-left: 24px;
          background: #2e3edf;
          color: #fff;
          border: none;
          font-size: 18px;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .container {
    .overlay {
      header {
        padding-right: 16px;
        padding-left: 16px;

        img {
          width: 48px;
        }
      }

      main {
        .headline {
          h1 {
            font-size: 40px;
            
          }
        }

        .sign-up {
          width: 100%;
          flex-direction: column;
          align-items: center;

          input {
            max-width: 90%;
          }
        }
      }
    }
  }
}
