<div class="container">
  <div class="overlay">
    <header>
      @if(!isSmallScreen) {
      <img [src]="'/images/logo_videoflix.png'" alt="" [routerLink]="['/']" routerLinkActive="router-link-active" />
      } @else {
      <img [src]="'/images/logo_videoflix_small.png'" alt="" [routerLink]="['/']" routerLinkActive="router-link-active" />
      }
      <button [routerLink]="['/log-in']" routerLinkActive="router-link-active" >Log in</button>
    </header>
    <main>
      <form [formGroup]="form" (ngSubmit)="resetPassword()" class="form-container">
        <h1>Forgot your password?</h1>
        <p>
          We will send you an email with instructions to reset your password.
        </p>

        @if (emailSent) {
          <div class="success-message">
            <p>✓ Falls ein Account mit dieser E-Mail-Adresse existiert, wurde ein Reset-Link gesendet.</p>
            <p>Bitte überprüfe dein Postfach.</p>
          </div>
        }

        <div class="input-container">
          <img class="img-slot-start" [src]="'/images/mail.png'" alt="" />
          <input type="text" placeholder="Email Address" formControlName="email" />
        </div>

        <button>Send Email</button>
      </form>
    </main>
    <app-footer></app-footer>
  </div>
</div>
